{% extends 'base.html.twig' %}

{% block title %}The execution of {{ name }}{% endblock %}

{% block body %}
{% if win_fail_condition == 2 %}
<div class="mt-3">
    <i class="fas fa-running fa-10x" style="color:#00ccff"></i>
    <div class="mb-5">
        <h1>You Escaped</h1>
    </div>
    <div class="container" style="height: 150px;">
        {{ current_text|raw }}
    </div>
    <div class="mb-5">
        <h2>{{ word }}:</h2>
        <h3><i>"{{ word_definition }}"</i></h3>
    </div>
    <div>
        <form action="{{ path('app_hangman') }}" method="post">
            <button class="btn btn-lg btn-primary" type="submit">
                Play again?
            </button>
            <input type="hidden" name="birthday" value="{{ birthday }}" />
            <input type="hidden" name="name" value="{{ name }}" />
            <input type="hidden" name="difficulty" value="{{ difficulty }}" />
        </form>
    </div>
    <p style="color:rgb(94, 116, 131);font-size:10px;">Want to change difficulty? Just head back to the home page</p>
</div>

{% elseif win_fail_condition == 1 %}
<div class="mt-3">
    <i class="fas fa-skull-crossbones fa-10x" style="color:#444"></i>
    <div class="mb-5">
        <h1>You have run out of time</h1>
    </div>
    <div>
        <div class="container" style="height: 150px;">
            {{ current_text|raw }}
        </div>
        <h4>Game Over</h4>
    </div>
    <div class="mb-5">
        <h2>{{ word }}:</h2>
        <h3><i>"{{ word_definition }}"</i></h3>
    </div>
    <div>
        <form action="{{ path('app_hangman') }}" method="post">
            <button class="btn btn-lg btn-primary" type="submit">
                Try again?
            </button>
            <input type="hidden" name="birthday" value="{{ birthday }}" />
            <input type="hidden" name="name" value="{{ name }}" />
            <input type="hidden" name="difficulty" value="{{ difficulty }}" />
        </form>
    </div>
    <p style="color:rgb(94, 116, 131);font-size:10px;">Want to change difficulty? Just head back to the home page</p>
</div>

{% else %}
<div class="mt-3">
    <div class="mb-4">
        <h2>Dawn of</h2>
        <h1>The Final Day</h1>
        <h3>- 24 Hours Remain -</h3>
    </div>
    {% if birthday|date("d/m") == "now"|date("d/m") %}
    <div class="mb-3">
        <i class="mb-2 fas fa-birthday-cake fa-3x" style="color:#00ccff"></i>
        <div style="font-size:24px; font-weight:bold;">
            <span style="color:#ff6600">H</span><span style="color:#ffcc00">a</span><span
                style="color:#ccff00">p</span><span style="color:#66ff00">p</span><span
                style="color:#00ff00">y</span><span style="color: transparent;text-shadow: none;">&nbsp;</span><span
                style="color:#00ffcc">B</span><span style="color:#00ccff">i</span><span
                style="color:#0066ff">r</span><span style="color:#0000ff">t</span><span
                style="color:#6600ff">h</span><span style="color:#cc00ff">d</span><span
                style="color:#ff00cc">a</span><span style="color:#ff0066">y</span><span style="color:#ff0000">!</span>
        </div>
        <div>
            {% set difference = date("now"|date("d/m/Y")).diff(date(birthday|date("d/m/Y"))) %}
            {% set years = difference.y %}
            <p>Though, what a terrible night to have a curse! {{ years }} years for it all to come to this...</p>
        </div>
    </div>
    {% endif %}
    <div class="container mb-5" style="height: 150px;">
        {{ current_text|raw }}
    </div>
</div>
<div class="mb-5">
    <h1>{{ revealed_word|join(' ') }}</h1>
</div>
<div class="mb-3">
    <form action="{{ path('app_hangman') }}" method="post">
        {% for letter in 'a'|upper..'z'|upper %}
        {% if letter|upper in letters_guessed %}
        <input class="btn btn-dark btn-lg text-center mb-2" style="width: 50px;" name="guess" id="guess" type="submit"
            value="{{ letter }}" disabled>
        {% else %}
        <input class="btn btn-dark btn-lg text-center mb-2" style="width: 50px;" name="guess" id="guess" type="submit"
            value="{{ letter }}">
        {% endif %}
        {% endfor %}
        <input type="hidden" name="birthday" value="{{ birthday }}" />
        <input type="hidden" name="name" value="{{ name }}" />
        <input type="hidden" name="difficulty" value="{{ difficulty }}" />
        <input type="hidden" name="guesses" value="{{ guesses }}" />
        <input type="hidden" name="word" value="{{ word }}" />
        <input type="hidden" name="word_definition" value="{{ word_definition }}" />
        <input type="hidden" name="letters_guessed" value="{{ letters_guessed|join(',') }}" />
        <input type="hidden" name="revealed_word" value="{{ revealed_word|join(',') }}" />
        <input type="hidden" name="failed_guesses" value="{{ failed_guesses }}" />
    </form>
</div>
<div class="mb-4">
    <h4>Failed guesses: {{ failed_guesses }}/7</h4>
</div>
<div class="mb-3">
    <button class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#hint">Hint?</button>

    <div id="hint" class="collapse">
        In panic you look around, only to find a small carving on the wall near the lock. It reads...</br><b>"{{
            word_definition }}"</b></br>how very odd.
    </div>
</div>
{% endif %}
{% endblock %}

{% block footeraditionals %}
<div class="mr-2 pt-2">
    <img src="{{ asset('images/JackCharGradBlankBG.png') }}" width="100" height="100">
</div>
{% endblock %}